@{
    ViewBag.Title = "Welcome";
}
<div class="slider hidden-xs">
    <ul class="rslides">
        <li><img src="~/Content/Images/engine2.png" alt="" /></li>
        <li><img src="~/Content/Images/computer.png" alt="" /></li>
        <li><img src="~/Content/Images/transmission2.png" alt="" /></li>
        <li><img src="~/Content/Images/brakes2.png" alt="" /></li>
    </ul>
</div>
<br />
<h3 class="text-center">Click on a category below to get started</h3><br />
<div class="row">
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/1">
                <h2>Engine</h2>
                <img src="~/Content/Images/engine-icon.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/2">
                <h2>Electronics</h2>
                <img src="~/Content/Images/computer-icon.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/4">
                <h2>Transmission</h2>
                <img src="~/Content/Images/transmission-icon.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywraplast">
            <a href="~/StoreFront/Index/3">
                <h2>Brake System</h2>
                <img src="~/Content/Images/brakes-icon.png" alt="" />
            </a>
        </div>
    </div>
</div>